.features-section {
  padding: 94px 0;
}
.features {
  @extend %list;

  display: flex;
  justify-content: space-between;

  &__list {
    width: 270px;
  }

  &__logo {
    display: flex;
    width: 270px;
    height: 120px;
    background-color: $team-background-color;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  &__title {
    color: $title-text-color;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__text {
    color: $text-color;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
