.portfolio {
  padding: 60px 0;

  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
}
.filter {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-top: 0;
  @extend %list;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    justify-content: center;
  }

  &__item {
    margin-right: 8px;
    margin-bottom: 8px;

    &:nth-last-of-type(-n + 2) {
      margin-bottom: 0;
    }
  }
  &__button {
    color: $title-text-color;
    background-color: $team-background-color;
    height: 38px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border: none;
    padding: 6px 22px;
    transition: color $transition, background-color $transition,
      box-shadow $transition;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      background-color: $hover-color;
      color: $button-text-color;
      cursor: pointer;
    }
  }
}

.projects {
  min-width: 480px;
  list-style: none;

  @media screen and (min-width: 768px) {
    min-width: 768px;
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: 1200px) {
    min-width: 1200px;
  }

  &__item {
    height: auto;
    position: relative;
    transition: box-shadow $transition;
    cursor: pointer;
    max-width: 480px;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      margin: 15px;
      width: calc((100% - 2 * 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: calc((100% - 3 * 30px) / 3);
    }

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

      .projects__discription {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }

  &__type {
    position: relative;
    overflow: hidden;
  }

  &__discription {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: translateY(100%);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 24px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $button-text-color;
    background: rgba(33, 150, 243, 0.9);
    transition: opacity $transition, transform $transition;
  }
}

.project {
  padding: 20px 24px;
  border: 1px solid $projects-border;

  &__title {
    color: $title-text-color;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
  }
  &__text {
    color: $text-color;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
}
