.team {
  background-color: $team-background-color;
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  &__title {
    color: $title-text-color;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 0;

    @media screen and (min-width: 768px) {
    }
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.16;
      margin-bottom: 50px;
    }
  }

  &__list {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      margin: -15px;
    }
    @media screen and (min-width: 1200px) {
      flex-wrap: nowrap;
      margin: 0;
    }
  }

  &__item {
    background-color: $button-text-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    max-width: 450px;

    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: 768px) {
      max-width: 354px;
      margin: 15px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 270px;
      margin: 0;
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.worker {
  padding: 30px 32px;

  &__name {
    color: $title-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 0;
  }

  &__prof {
    color: $text-color;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
  }
}
.network {
  display: flex;
  justify-content: center;
  align-items: center;
  @extend %list;

  &__item {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: none;
    border-radius: 50%;
    fill: $icon-color;
    transition: background-color $transition;

    &:hover,
    &:focus {
      background-color: $hover-color;
      fill: $button-text-color;
    }
  }
}
