// background colors
$footer-background-color: #2f303a;
$team-background-color: #f5f4fa;

// text colors
$text-color: #757575;
$title-text-color: #212121;
$button-text-color: #fff;
$logo-color: #000;

// hover
$hover-color: #2196f3;
$button-hover-color: #188ce8;

// else
$footer-link-color: rgba(255, 255, 255, 0.6);
$border-color: #ececec;
$projects-border: #eee;
$icon-color: #afb1b8;

// Font
$mainfontfamily: "Roboto", sans-serif;
$fontfamily: Raleway, sans-serif;

// transition
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
